{%extends 'pairs/base.html'%}
{% load static%}


	{% block title %}pairs{%endblock%}


{% block content %}

		<section id='intro' >

			<div class='jumbotron'>

				<div class='container'>
				
					<div class="col-md-12">
												<p class="lead">

			When it comes to dating apps, there are several apps on the market to choose from: TanTan,  i-Part, Omi, and Paktor. Whether you're looking for true love, a date, or a casual chat with someone, the premise is that you have to find the app that works best. In fact, nothing is black and white, and when you want to make new friends, our caring 
						Pairing team has designed features that will allow you to slide out good results and develop a beautiful marriage or friendship. You will find: Online dating is so easy!

To brag that we're the best free dating app, it's not our specialty. We'll briefly explain how Pairing works and give you a glimpse into what makes us different.</p>

					</div>
				</div>
			</div>
			

		</section>


		<div class="row"><br><br></div>
			


{% endblock %}