{%extends 'pairs/base.html'%}
{% load static%}


	{% block title %}pairs{%endblock%}


{% block content %}

		<section id='intro' >

			<div class='jumbotron'>

				<div class='container'>
				
					<div class="col-md-12">
												<p class="lead">

Pairing welcomes input from the security research community on identifying potential issues, ways to improve the security of our app, infrastructure and member data. We encourage security researchers to diligently report any potential security vulnerabilities to vulnerability@goPairing.com. We are committed to responsibly and promptly addressing security issues. To protect our members, we ask that you do not share any information about potential vulnerabilities with anyone outside of Pairing until we have had a chance to review and resolve these concerns with you. We appreciate your dedication to the community to keep Pairing safe.

You can find the relevant policy and scope of the bug bounty program here. We expressly prohibit denial of service (DoS) testing, social engineering, or the use of destructive automated scanning tools.

If you have any questions, concerns or disputes about your personal data, or to report another member or profile, please contact our support team at https://www.help.Pairing.com/.</p>

					</div>
				</div>
			</div>
			

		</section>


		<div class="row"><br><br></div>
			


{% endblock %}